# Домашнее задание 2 (5 баллов).

Все задания ниже имеют равный вес (5/16).

In [210]:
import pandas as pd

#### Описание данных

В папке Data находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

### Одно из важных достоинств pandas $-$ это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных.

Подробно об этих методах посмотрите тут: https://www.kaggle.com/residentmario/renaming-and-combining#Combining

#### Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.¶

In [211]:
df1 = pd.concat([pd.read_csv(f"Students_info_{i}.csv") for i in range(10)], axis=0)
df2 = pd.concat([pd.read_csv(f"Students_marks_{i}.csv") for i in range(10)], axis=0)
df = df1.merge(df2)
df.head(5)

,index,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,1,female,group C,some college,standard,completed,group1,69,90,88
2,2,female,group B,master's degree,standard,none,group1,90,95,93
3,3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,4,male,group C,some college,standard,none,group1,76,78,75

#### Задание 2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.

In [212]:
df = df.drop(columns=['index'])
df.head(5)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75

#### Задание 3. Выведите на экран размеры полученной таблицы

In [213]:
df.shape

(1000, 9)

#### Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [214]:
df.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

#### Задание 5. Проверьте, есть ли в таблице пропущенные значения

In [215]:
df.isna().any().any()

False

Значит нет

#### Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [216]:
df[["math score", "reading score", "writing score"]].mean()

math score       66.089
reading score    69.169
writing score    68.054
dtype: float64

**Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.**

In [217]:
df['test preparation course'].value_counts()

none         642
completed    358
Name: test preparation course, dtype: int64

In [218]:
res_without_preparation = df[df["test preparation course"] == 'none'][["math score", "reading score", "writing score"]].mean()
res_with_preparation = df[df["test preparation course"] == 'completed'][["math score", "reading score", "writing score"]].mean()
res_with_preparation

math score       69.695531
reading score    73.893855
writing score    74.418994
dtype: float64

In [219]:
res_without_preparation

math score       64.077882
reading score    66.534268
writing score    64.504673
dtype: float64

In [220]:
res_with_preparation - res_without_preparation

math score       5.617649
reading score    7.359587
writing score    9.914322
dtype: float64

Как видим все результаты за экзамены лучше у людей, которые проходили курсы подготовки

**Задание 8. Выведите на экран все различные значения из столбца lunch.**

In [221]:
df.lunch.value_counts()

standard        645
free/reduced    355
Name: lunch, dtype: int64

**Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename**
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [222]:
df = df.rename(columns={'parental level of education':'education', 'test preparation course':'test preparation'})
df.head(5)

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75

**Зафиксируем минимальный балл для сдачи экзамена**

In [223]:
passmark = 50

**Задание 10. Ответьте на вопросы:**
    * Какая доля студентов сдала экзамен по математике (passmark >= 50)?
    * Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
    * Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [224]:
df[df["math score"] >= passmark].shape[0]/df.shape[0]

0.865

In [225]:
df[(df["math score"] >= passmark) & (df['test preparation'] == 'completed')].shape[0]/df[df['test preparation'] == 'completed'].shape[0]

0.9217877094972067

In [226]:
df[(df["math score"] < passmark) & (df['test preparation'] == 'none') & (df['gender'] == 'female')].shape[0]/df[(df['test preparation'] == 'none') & (df['gender'] == 'female')].shape[0]

0.20958083832335328

**Задание 11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.**
    * Для каждой этнической группы выведите средний балл за экзамен по чтению
    * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [227]:
%%time
df.groupby('race/ethnicity').mean()['reading score']

CPU times: user 2.79 ms, sys: 7.14 ms, total: 9.93 ms
Wall time: 59.2 ms

race/ethnicity
group A    64.674157
group B    67.352632
group C    69.103448
group D    70.030534
group E    73.028571
Name: reading score, dtype: float64

In [228]:
%%time
df.groupby('education').min()['writing score']

CPU times: user 8.12 ms, sys: 3.54 ms, total: 11.7 ms
Wall time: 24.3 ms

education
associate's degree    35
bachelor's degree     38
high school           15
master's degree       46
some college          19
some high school      10
Name: writing score, dtype: int64

**Задание 12. Выполните задание 11 с помощью циклов. Сравните время выполнения.**

In [230]:
%%time
race = ['group A', 'group B', 'group C', 'group D', 'group E']
n = [0, 0, 0, 0, 0]
count = [0, 0, 0, 0, 0]
for i in range(1000):
    for j in range(5):
        if str(df.iloc[i]['race/ethnicity']) == race[j]:
            n[j] += int(df.iloc[i]['reading score'])
            count[j] += 1
for i in range(5):
    n[i] = n[i]/count[i]
n

CPU times: user 308 ms, sys: 8.79 ms, total: 317 ms
Wall time: 333 ms

[64.67415730337079,
 67.35263157894737,
 69.10344827586206,
 70.03053435114504,
 73.02857142857142]

In [231]:
%%time
edu = ["associate's degree", "bachelor's degree", 'high school', "master's degree", 'some college', 'some high school']
n = [100, 100, 100, 100, 100, 100]
for i in range(1000):
    for j in range(6):
        if str(df.iloc[i]['education']) == edu[j]:
            n[j] = min(int(df.iloc[i]['writing score']), n[j])
n

CPU times: user 372 ms, sys: 11.1 ms, total: 383 ms
Wall time: 404 ms

[35, 38, 15, 46, 19, 10]

Видно, что время выполнения при использовании циклов, а не встроенных функций для обработки данных у DataFrame больше в разы, что указывает на не эффективность использования "сторонних методов".

**Задание 13. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.**

Это можно сделать с помощью сводных таблиц (pivot_table):

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

In [232]:
df.groupby(['gender', 'education']).mean()

                           math score  reading score  writing score
gender education
female associate's degree   65.250000      74.120690      74.000000
       bachelor's degree    68.349206      77.285714      78.380952
       high school          59.351064      68.202128      66.691489
       master's degree      66.500000      76.805556      77.638889
       some college         65.406780      73.550847      74.050847
       some high school     59.296703      69.109890      68.285714
male   associate's degree   70.764151      67.433962      65.405660
       bachelor's degree    70.581818      68.090909      67.654545
       high school          64.705882      61.480392      58.539216
       master's degree      74.826087      73.130435      72.608696
       some college         69.009259      64.990741      63.148148
       some high school     67.840909      64.693182      61.375000

#### Задание 14. Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [233]:
df_pass_mark = df[['math score', 'reading score', 'writing score']] >= passmark
df_pass_mark[df_pass_mark == True] = 'P'
df_pass_mark[df_pass_mark == False] = 'F'
df_pass_mark = df_pass_mark.rename(columns={'math score':'Math_PassStatus', 'reading score':'Reading_PassStatus', 'writing score':'Writing_PassStatus'})
df = pd.concat([df, df_pass_mark], axis=1)
df.head(10)

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score,Math_PassStatus,Reading_PassStatus,Writing_PassStatus
0,female,group B,bachelor's degree,standard,none,group1,72,72,74,P,P,P
1,female,group C,some college,standard,completed,group1,69,90,88,P,P,P
2,female,group B,master's degree,standard,none,group1,90,95,93,P,P,P
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44,F,P,F
4,male,group C,some college,standard,none,group1,76,78,75,P,P,P
5,female,group B,associate's degree,standard,none,group1,71,83,78,P,P,P
6,female,group B,some college,standard,completed,group1,88,95,92,P,P,P
7,male,group B,some college,free/reduced,none,group1,40,43,39,F,F,F
8,male,group D,high school,free/reduced,completed,group1,64,64,67,P,P,P
9,female,group B,high school,free/reduced,none,group1,38,60,50,F,P,P

In [234]:
print('Количество сдавших математику: ' + str((df.Math_PassStatus == 'P').sum()) + '\nКоличество не сдавших математику: ' + str((df.Math_PassStatus == 'F').sum()) + '\nКоличество сдавших чтение: ' + str((df.Reading_PassStatus == 'P').sum()) + '\nКоличество не сдавших чтение: ' + str((df.Reading_PassStatus == 'F').sum()) + '\nКоличество сдавших письмо: ' + str((df.Writing_PassStatus == 'P').sum()) + '\nКоличество не сдавших письмо: ' + str((df.Writing_PassStatus == 'F').sum()))

Количество сдавших математику: 865
Количество не сдавших математику: 135
Количество сдавших чтение: 910
Количество не сдавших чтение: 90
Количество сдавших письмо: 886
Количество не сдавших письмо: 114

#### Задание 15. Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [235]:
df_new = df[['Math_PassStatus', 'Reading_PassStatus', 'Writing_PassStatus']] == 'F'
df_new['OverAll_PassStatus'] = df_new.Writing_PassStatus + df_new.Math_PassStatus + df_new.Reading_PassStatus
df_new[df_new == True] = 'F'
df_new[df_new == False] = 'P'
df = pd.concat([df, df_new['OverAll_PassStatus']], axis=1)
df.head(10)

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score,Math_PassStatus,Reading_PassStatus,Writing_PassStatus,OverAll_PassStatus
0,female,group B,bachelor's degree,standard,none,group1,72,72,74,P,P,P,P
1,female,group C,some college,standard,completed,group1,69,90,88,P,P,P,P
2,female,group B,master's degree,standard,none,group1,90,95,93,P,P,P,P
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44,F,P,F,F
4,male,group C,some college,standard,none,group1,76,78,75,P,P,P,P
5,female,group B,associate's degree,standard,none,group1,71,83,78,P,P,P,P
6,female,group B,some college,standard,completed,group1,88,95,92,P,P,P,P
7,male,group B,some college,free/reduced,none,group1,40,43,39,F,F,F,F
8,male,group D,high school,free/reduced,completed,group1,64,64,67,P,P,P,P
9,female,group B,high school,free/reduced,none,group1,38,60,50,F,P,P,F

In [236]:
(df.OverAll_PassStatus == 'P').sum()

812

#### Задание 16. Переведем баллы в оценки

### Система перевода баллов в оценки
####    больше 90 = A
####      80-90 = B
####      70-80 = C
####      60-70 = D
####      50-60 = E
####    меньше 50 = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

**В случае, если средний балл попадает на границу между оценками (т.е. равен ровно 60, 70 или 80 баллов), вы можете интерпретировать условие на своё усмотрение (т.е. можете поставить за 60 баллов оценку D, а можете - E).**

In [237]:
def GetGrade(average_mark):
    #average_mark = average_mark.where(average_mark >= 50, other='F')
    if average_mark < 50:
        return 'F'
    elif average_mark < 60:
        return 'E'
    elif average_mark < 70:
        return 'D'
    elif average_mark < 80:
        return 'C'
    elif average_mark <= 90:
        return 'B'
    else:
        return 'A'

df['Grade'] = ((df['math score'] + df['reading score'] + df['writing score']) / 3).apply(GetGrade)
df.head(10)

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score,Math_PassStatus,Reading_PassStatus,Writing_PassStatus,OverAll_PassStatus,Grade
0,female,group B,bachelor's degree,standard,none,group1,72,72,74,P,P,P,P,C
1,female,group C,some college,standard,completed,group1,69,90,88,P,P,P,P,B
2,female,group B,master's degree,standard,none,group1,90,95,93,P,P,P,P,A
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44,F,P,F,F,F
4,male,group C,some college,standard,none,group1,76,78,75,P,P,P,P,C
5,female,group B,associate's degree,standard,none,group1,71,83,78,P,P,P,P,C
6,female,group B,some college,standard,completed,group1,88,95,92,P,P,P,P,A
7,male,group B,some college,free/reduced,none,group1,40,43,39,F,F,F,F,F
8,male,group D,high school,free/reduced,completed,group1,64,64,67,P,P,P,P,D
9,female,group B,high school,free/reduced,none,group1,38,60,50,F,P,P,F,F

In [238]:
df.Grade.value_counts()

C    261
D    256
E    182
B    148
F    103
A     50
Name: Grade, dtype: int64

In [ ]:
https://raw.githubusercontent.com/hse-ds/iad-intro-ds/master/2023/homeworks/hw03-plots/german_credit.csv