# Современные методы анализа данных и машинного обучения, БИ

## НИУ ВШЭ, 2023-24 учебный год

### Домашнее задание №1. Библиотеки Numpy & Pandas

Задание выполнил(а):

 Евсеев Никита

### Общая информация

__Дата выдачи:__ 09.02.2024

__Дедлайн:__ 04:00 19.02.2024

### Оценивание и штрафы

Каждая задача первого раздела (Numpy) оценивается в 2 балла.

Оценка за первый раздел вычисляется по следующей формуле:

$$
s_{\text{numpy}} \times 1/2 ,
$$

где $s_{\text{numpy}}$  — количество баллов, которое вы набрали в сумме по задачам первого раздела.

Каждая задача второго раздела (Pandas) оценивается в 3 балла.

Оценка за второй раздел вычисляется по следующей формуле:

$$
s_{\text{pandas}} \times 10/54 ,
$$

где $s_{\text{pandas}}$  — количество баллов, которое вы набрали в сумме по задачам второго раздела.

Общая оценка за ДЗ вычисляется по следующей формуле:

$$
O_{1} \times 3/10 + O_2 \times 7/10 ,
$$

где $O_1, O_2$  — оценки за первый и второй раздел соответственно.

За сдачу задания позже срока на итоговую оценку за задание накладывается штраф в размере 1 **вторичный** балл в день, но  задержка не может быть больше недели.

**Важно:** В этом домашнем задании предусмотрено несколько заданий, за которые можно получить бонусные баллы. Бонусные баллы прибавляются к обычным баллам, и может выйти так, что ваша итоговая оценка станет больше 10. В таком случае именно это и будет являться вашей оценкой. То есть за это ДЗ **можно** получить больше 10

__Внимание!__ Домашнее задание выполняется самостоятельно. «Похожие» решения считаются плагиатом и все задействованные студенты (в том числе те, у кого списали) не могут получить за него больше 0 баллов.

### Формат сдачи

Загрузка файлов с решениями происходит в системе [Anytask](https://anytask.org/). Необходимо загружать файл с расширением .ipynb (питоновский ноутбук)

Инвайт для подключения к странице курса в системе — будет указан для каждой группы в нашем телеграмм-канале

## Раздел 1. Numpy

### О задании

В данном разделе вы попрактикуетесь в работе с библиотекой numpy!

In [119]:
import numpy as np

Во всех задачах необходимо написать код решения внутри функции и проверить его работу, вызвав функцию для данных из условия.

При решении задач запрещается использовать циклы (`for`, `while`) и оператор `if`.

Везде, где встречаются массивы или матрицы, подразумевается, что это `numpy.array`.

### 1

Напишите функцию, возвращающую округленную взвешенную сумму оценок по данным оценкам и весам. Можете посчитать свою оценку за курс :) В нашем случае вес экзамена равен 0.32, вес домашек - 0.28, вес групповых проектов - 0.12, вес аудиторки - 0.14, вес контрольной - 0.14. Например, если экзамен написан на 6, домашки сданы на 9, проекты закрыты на 8, оценка за аудиторку 7, а контрольная написана на 10 - итоговая оценка будет хорошо - 7

In [209]:
def result_mark(weights, marks):
    return int(np.sum(weights * marks) + 0.5)

In [210]:
weights = np.array([0.32, 0.18, 0.12, 0.14, 0.14])
marks = np.array([6, 9, 8, 7, 10])
result_mark(weights, marks)

7

### 2

Напишите функцию, меняющую каждое третье (начиная с 0) значение массива целых чисел на заданное число. Например, если на вход поступает массив `array([3, 5, 1, 0, -3, 22, 213436])` и число `-111`, то на выходе должен получиться массив `array([-111, 5, 1, -111, -3, 22, -111])`.

In [211]:
def change_array(array, number):
    array[::3] = number
    return array

In [212]:
array = np.array([3, 5, 1, 0, -3, 22, 213436])
number = -111
change_array(array, number)

array([-111,    5,    1, -111,   -3,   22, -111])

### 3

Напишите функцию, выдающую индексы «близких» элементов заданных массивов, а именно тех пар элементов, чей модуль разницы не превосходит заданного значения. Например, если на вход поступают массив `array([1.5, 0.5, 2, -4.1, -3, 6, -1])`, массив `array([1.2, 0.5, 1, -4, 3, 0, -1.2])` и число `0.5`, то на выходе должен получиться массив `array([0, 1, 3, 6])` (_**важно: не `tuple`, а одномерный массив типа `numpy.ndarray` (то есть `.ndim` от него равно 1)!**_).

In [213]:
def find_close(array1, array2, precision):
    return np.where(abs(array1 - array2) <= precision)[0]

In [214]:
array1 = np.array([1.5, 0.5, 2, -4.1, -3, 6, -1])
array2 = np.array([1.2, 0.5, 1, -4, 3, 0, -1.2])
precision = 0.5
find_close(array1, array2, precision)

array([0, 1, 3, 6])

### 4

Напишите функцию, которая составляет блочную матрицу из четырех блоков, где каждый блок - это заданная матрица. Например, если на вход поступает матрица
$$
\begin{pmatrix}
0 & 1 & 2\\
3 & 4 & 5\\
\end{pmatrix},
$$
то ответом будет матрица
$$
\begin{pmatrix}
0 & 1 & 2 & 0 & 1 & 2\\
3 & 4 & 5 & 3 & 4 & 5\\
0 & 1 & 2 & 0 & 1 & 2\\
3 & 4 & 5 & 3 & 4 & 5\\
\end{pmatrix}
$$

In [215]:
def block_matrix(block):
    return np.vstack((np.hstack((block, block)), np.hstack((block, block))))

In [216]:
block = np.array([[0, 1, 2], [3, 4, 5]])
block_matrix(block)

array([[0, 1, 2, 0, 1, 2],
       [3, 4, 5, 3, 4, 5],
       [0, 1, 2, 0, 1, 2],
       [3, 4, 5, 3, 4, 5]])

### 5

Напишите функцию, вычисляющую произведение всех ненулевых диагональных элементов на диагонали данной квадратной матрицы. Например, если на вход поступает матрица
$$
\begin{pmatrix}
0 & 1 & 2\\
3 & 4 & 5\\
6 & 7 & 8\\
\end{pmatrix},
$$
то ответом будет 32.

In [217]:
def diag_prod(matrix):
    matrix1 = matrix * np.identity(len(matrix))
    return np.prod(matrix[matrix1 != 0])

In [218]:
matrix = np.array([[0, 1, 2], [3, 4, 5], [6, 7, 8]])
diag_prod(matrix)

32

### 6

Для улучшения качества работы некоторых алгоритмов машинного обучения может быть полезно использовать [нормализацию данных](https://vk.cc/8xmfQk), чтобы привести признаки в выборке к одному масштабу — а именно, из каждого столбца вычесть среднее его значений и поделить на их стандартное отклонение. Напишите функцию, нормализующую входящую матрицу (по столбцам). Например, если на вход подается матрица
$$
\begin{pmatrix}
1 & 4 & 4200\\
0 & 10 & 5000\\
1 & 2 & 1000\\
\end{pmatrix},
$$
то результатом с точностью до сотых будет матрица
$$
\begin{pmatrix}
0.71 & -0.39 & 0.46\\
-1.41 & 1.37 & 0.93\\
0.71 & -0.98 & -1.39\\
\end{pmatrix}
$$

_Подсказка. Учтите, что в вашей матрице не должно получаться никаких nan. Подумайте, в каком случае они могут возникнуть и как обойти эту проблему._

In [219]:
def normalize(matrix):
    mat = np.sum(matrix, axis=0) / len(matrix)
    mat2 = matrix - mat
    mat3 = (np.sum((mat2 ** 2 / len(matrix)), axis=0) ** 0.5)
    mat2[:, np.where(mat3 != 0)] = mat2[:, np.where(mat3 != 0)] / mat3[mat3 != 0]
    return mat2

In [220]:
matrix = np.array([[1, 4, 4200], [0, 10, 5000], [1, 2, 1000]])
normalize(matrix)

array([[ 0.70710678, -0.39223227,  0.46291005],
       [-1.41421356,  1.37281295,  0.9258201 ],
       [ 0.70710678, -0.98058068, -1.38873015]])

### 7

Напишите функцию, вычисляющую какую-нибудь первообразную данного полинома (в качестве константы возьмите ваше любимое число). Например, если на вход поступает массив коэффициентов `array([4, 6, 0, 1])`, что соответствует полиному $4x^3 + 6x^2 + 1$, на выходе получается массив коэффициентов `array([1, 2, 0, 1, -2])`, соответствующий полиному $x^4 + 2x^3 + x - 2$.

In [227]:
def antiderivative(coefs):
    return np.append(coefs / np.flip(np.where(coefs == coefs)[0] + 1), 0)

In [228]:
coefs = np.array([4, 6, 0, 1])
antiderivative(coefs)

array([1., 2., 0., 1., 0.])

### 8

Напишите функцию, делающую данную [треугольную матрицу](https://ru.wikipedia.org/wiki/%D0%A2%D1%80%D0%B5%D1%83%D0%B3%D0%BE%D0%BB%D1%8C%D0%BD%D0%B0%D1%8F_%D0%BC%D0%B0%D1%82%D1%80%D0%B8%D1%86%D0%B0) симметричной. Например, если на вход поступает матрица
$$
\begin{pmatrix}
1 & 2 & 3 & 4\\
0 & 5 & 6 & 7\\
0 & 0 & 8 & 9\\
0 & 0 & 0 & 10\\
\end{pmatrix},
$$
то на выходе должна быть матрица
$$
\begin{pmatrix}
1 & 2 & 3 & 4\\
2 & 5 & 6 & 7\\
3 & 6 & 8 & 9\\
4 & 7 & 9 & 10\\
\end{pmatrix}.
$$

In [225]:
def make_symmetric(matrix):
    return matrix + (matrix - matrix * np.identity(len(matrix))).T

In [226]:
matrix = np.array([[1, 2, 3, 4], [0, 5, 6, 7], [0, 0, 8, 9], [0, 0, 0, 10]])
make_symmetric(matrix)

array([[ 1.,  2.,  3.,  4.],
       [ 2.,  5.,  6.,  7.],
       [ 3.,  6.,  8.,  9.],
       [ 4.,  7.,  9., 10.]])

### 9

Напишите функцию, создающую прямоугольную матрицу из m одинаковых строк, заполненных последовательными натуральными числами от a до b включительно в возрастающем порядке. Например, если m = 5, a = 3, b = 10, то на выходе будет матрица
$$
\begin{pmatrix}
3 & 4 & 5 & 6 & 7 & 8 & 9 & 10\\
3 & 4 & 5 & 6 & 7 & 8 & 9 & 10\\
3 & 4 & 5 & 6 & 7 & 8 & 9 & 10\\
3 & 4 & 5 & 6 & 7 & 8 & 9 & 10\\
3 & 4 & 5 & 6 & 7 & 8 & 9 & 10\\
\end{pmatrix}
$$

In [230]:
def construct_matrix(m, a, b):
    return np.repeat(np.arange(a, b + 1), m).reshape(-1, m).T

In [231]:
m = 5
a = 3
b = 10
construct_matrix(m, a, b)

array([[ 3,  4,  5,  6,  7,  8,  9, 10],
       [ 3,  4,  5,  6,  7,  8,  9, 10],
       [ 3,  4,  5,  6,  7,  8,  9, 10],
       [ 3,  4,  5,  6,  7,  8,  9, 10],
       [ 3,  4,  5,  6,  7,  8,  9, 10]])

### 10

Напишите функцию, вычисляющую [косинусную близость](https://en.wikipedia.org/wiki/Cosine_similarity) двух векторов. Например, если на вход поступают вектора `array([-2, 1, 0, -5, 4, 3, -3])` и `array([0, 2, -2, 10, 6, 0, 0])`, ответом будет -0.25.

In [232]:
def cosine_similarity(vec1, vec2):
    return vec1 @ vec2 / (np.sum(vec1 ** 2) ** 0.5) / (np.sum(vec2 ** 2) ** 0.5)

In [233]:
vec1 = np.array([-2, 1, 0, -5, 4, 3, -3])
vec2 = np.array([0, 2, -2, 10, 6, 0, 0])
cosine_similarity(vec1, vec2)

-0.25

## Раздел 2. Pandas

### О задании

В данном разделе вы попрактикуетесь в работе с библиотекой pandas!

In [1]:
import pandas as pd

Обратите внимание, что практически во всех заданиях вам потребуется написать какой-то текст в виде вывода/результата/итога/какого-то резюме. Пожалуйста, не ленитесь, и пишите выводы ***подробно***, существенная часть баллов будет выставляться именно за выводы, так как в анализе данных они имеют большое значение. Таким образом, на любое задание, сформулированное в виде вопроса, отвечайте текстом, подкрепляя ваши слова написанным и выполненным кодом. Текст выводов/комментариев пишите в отдельных ячейках, используя средства текстового редактора Jupyter Notebook/Google Colab, при необходимости используйте средства *выделения*.

При решении задач, когда вам необходимо сделать какой-то фильтр, срез, выборку, или иное действие с данными, запрещается использовать циклы (`for`, `while`) и оператор `if`.

### 1

В этом разделе домашнего задания вы поработаете с данными исследования зависимости средней продолжительности жизни по странам от количества употребляемого в стране алкоголя.

Вашему вниманию представлено два датасета: drinks.csv и lifeexpectancy-verbose.csv

Первая таблица содержит в себе сводные данные по количеству употребляемого алкоголя в каждой стране.

Описание датасета:
- country -	Name of the country (String)
- beer_servings	- Number of beer servings per person in the country (Integer)
- spirit_servings	- Number of spirit servings per person in the country (Integer)
- wine_servings	- Number of wine servings per person in the country(Integer)
- total_litres_of_pure_alcohol -	Total litres of pure alcohol consumed per person in the country (Float)

Вторая таблица содержит в себе информацию о научных статьях и исследованиях о продолжительности жизни (в разных категориях и для разных групп) по той или иной стране.

Откройте в ноутбуке оба файла с данными. Какой размер имеют таблицы? Выведите первые 5 и последние 5 строк для обеих таблиц. Сколько уникальных стран представлено в каждой из таблиц? Сделайте выводы.

In [2]:
tmdb = pd.read_csv("/Users/nikitaevseev/Downloads/tmdb_all_data.csv", lineterminator='\n')
tmdb.columns

In [3]:
tmdb.drop(['Unnamed: 0', 'adult', 'backdrop_path', 'homepage', 'belongs_to_collection', 'id', 'overview', 'poster_path', 'production_companies', 'status', 'tagline', 'video'], inplace=True, axis=1)
tmdb.head(2)

In [8]:
data = pd.read_excel('/Users/nikitaevseev/Downloads/NetflixShows.xlsx')
data = data.drop_duplicates()
data.head(3)

,title,rating,ratingLevel,ratingDescription,release year,user rating score,user rating size
0,White Chicks,PG-13,"crude and sexual humor, language and some drug...",80,2004,82.0,80
1,Lucky Number Slevin,R,"strong violence, sexual content and adult lang...",100,2006,NaN,82
2,Grey's Anatomy,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,98.0,80

In [13]:
shows_main = pd.read_csv("/Users/nikitaevseev/Downloads/shows.csv")
shows_dates = pd.read_csv("/Users/nikitaevseev/Downloads/air_dates.csv")
shows = pd.merge(shows_main, shows_dates, how='inner', on=['show_id'])

In [15]:
shows = shows[(shows.name.isin(data.title)) | (shows.original_name.isin(data.title))]
shows.head(2)

,show_id,name,number_of_seasons,number_of_episodes,overview,adult,in_production,original_name,popularity,tagline,eposide_run_time,type_id,status_id,is_first,date
4,66732,Stranger Things,4,34,When a young boy vanishes a small town uncove...,0,1,Stranger Things,185.711,Every ending has a beginning.,0,1,2,1,2016-07-15
5,66732,Stranger Things,4,34,When a young boy vanishes a small town uncove...,0,1,Stranger Things,185.711,Every ending has a beginning.,0,1,2,0,2022-07-01

In [18]:
shows.to_csv('shows_dates.csv')

In [20]:
shows[shows.name == 'Prison Break']

,show_id,name,number_of_seasons,number_of_episodes,overview,adult,in_production,original_name,popularity,tagline,eposide_run_time,type_id,status_id,is_first,date
96,2288,Prison Break,5,88,Due to a political conspiracy an innocent man...,0,0,Prison Break,213.262,Break in. Break out. Save your brother's life.,45,1,1,1,2005-08-29
97,2288,Prison Break,5,88,Due to a political conspiracy an innocent man...,0,0,Prison Break,213.262,Break in. Break out. Save your brother's life.,45,1,1,0,2017-05-30

In [10]:
tmdb2 = tmdb[(tmdb.title.isin(data.title)) | (tmdb.original_title.isin(data.title))]
tmdb2.shape

(824, 14)

In [11]:
tmdb2.to_csv('tmdb.csv')

In [ ]:
tmdb.to_csv()

In [38]:
data4 = pd.merge(data, tmdb, how='left', left_on=['title'], right_on=['original_title'])

In [43]:
duplicates = data4[['title_x', 'rating', 'ratingLevel', 'ratingDescription']].duplicated()
a = duplicates[duplicates == True].index

In [ ]:
data4

In [ ]:
data4[data4.index.isin(a)]

In [34]:
tmdb.columns

Index(['budget', 'genres', 'imdb_id', 'original_language', 'original_title',
       'popularity', 'production_countries', 'release_date', 'revenue',
       'runtime', 'spoken_languages', 'title', 'vote_average', 'vote_count',
       'release_year'],
      dtype='object')

In [ ]:
data4.dropna(subset=['budget', 'genres', 'imdb_id', 'original_language', 'original_title',
       'popularity', 'production_countries', 'release_date', 'revenue',
       'runtime', 'spoken_languages', 'title_y', 'vote_average', 'vote_count',
       'release_year'])

In [12]:
data4.dropna(subset=['budget', 'genres', 'imdb_id', 'original_language', 'original_title',
       'popularity', 'production_countries', 'release_date', 'revenue',
       'runtime', 'spoken_languages', 'title', 'vote_average', 'vote_count',
       'release_year'])

NameError: name 'data4' is not defined

In [294]:
data4[['title_x', 'rating', 'ratingLevel', 'ratingDescription']]

,title_x,rating,ratingLevel,ratingDescription
0,White Chicks,PG-13,"crude and sexual humor, language and some drug...",80
1,Lucky Number Slevin,R,"strong violence, sexual content and adult lang...",100
2,Grey's Anatomy,TV-14,Parents strongly cautioned. May be unsuitable ...,90
3,Prison Break,TV-14,Parents strongly cautioned. May be unsuitable ...,90
4,How I Met Your Mother,TV-PG,Parental guidance suggested. May not be suitab...,70
...,...,...,...,...
837,Russell Madness,PG,some rude humor and sports action,60
838,Wiener Dog Internationals,G,General Audiences. Suitable for all ages.,35
839,Pup Star,G,General Audiences. Suitable for all ages.,35
840,Precious Puppies,TV-G,Suitable for all ages.,35
841,Beary Tales,TV-G,Suitable for all ages.,35

In [ ]:
lifeExp = pd.read_csv("/Users/nikitaevseev/Desktop/DS/MMDA&ML/lifeexpectancy-verbose.csv")
print('Размер таблицы: ' + str(lifeExp.shape))
print('Количество уникальных стран:', lifeExp['CountryDisplay'].unique().size)
pd.concat([lifeExp.head(5), lifeExp.tail(5)])

### 2

Для каждого признака в рассматриваемых данных укажите тип этого признака и кратко обоснуйте, почему тип именно такой.

Таблица drinks
index - порядковый - индекс
Country - категориальный - конечный список значений без порядка
Beer serving - вещественный - численное количество
spirit serving - вещественный - численное количество
wine serving - вещественный - численное количество
total liters of pure alcohol - вещественный - численное количество
Таблица life
index = порядковый, индекс
GhoCode - категориальный - конечный список значений без порядка
GhoDisplay - категориальный - конечный список значений без порядка
PublishStateCode - категориальный - конечный список значений без порядка
PublishStateDisplay - категориальный - конечный список значений без порядка
YearCode - вещественный - численное количество
YearDisplay - вещественный - численное количество
RegionCode - категориальный - конечный список значений без порядка
RegionDisplay - категориальный - конечный список значений без порядка
WorldBankIncomeGroupGroupCode - порядковые - конечный список значений, сортируются по смыслу
WorldBankIncomeGroupDisplay - порядковые - конечный список значений, сортируются по смыслу
CountryCode - категориальный - конечный список значений без порядка
CountryDisplay - категориальный - конечный список значений без порядка
SexCode - категориальный - конечный список значений без порядка
SexDisplay - категориальный - конечный список значений без порядка
DisplayValue - вещественный - численное количество
Numeric - вещественный - численное количество

### 3

Внимательно изучите признаки обеих таблиц. Как вы считаете, какая из таблиц является главной (а какая сопутствующей)? Почему вы так думаете?

Какой признак может представлять существенный интерес для исследования и являться целевой переменной в рамках представленного датасета? Ответ обоснуйте.

***Бонус (1 бон. балл):*** Попробуйте описать задачу машинного обучения, которую вы могли бы решать для данного датасета с учетом выбранной вами раннее целевой переменной и проблематики исследования. Подробнее про постановку и формализацию задач машинного обучения, а также про различные типы таких задач — вы можете прочитать, например, вот в этой [статье](https://habr.com/ru/company/simbirsoft/blog/565396/) (в начале)

Так как мы хотим смотреть на зависимость средних лет жизни от количества выпитого алкоголя, поэтому целевой переменной для предсказания будет количество лет жизни (lifeExp['Numeric']). А для предсказания можно использовать данные об алкоголе из таблицы drinks и данные об местоположении страны из таблицы lifeExp. Задача предсказания числового значения называется регрессией.

### 4

Какова доля статей о продолжительности жизни в Африке? Какова доля статей о продолжительности жизни мужчин и доля статей о продолжительности жизни женщин среди всех статей по Африке?

***Бонус (2 бон. балла):*** Сравните эти доли с аналогичными долями по другим регионам. Как вы можете объяснить возникающие сходства и различия? Прокомментируйте полученные результаты.

In [ ]:
africaState = lifeExp[lifeExp['RegionDisplay'] == 'Africa']
print('Доля статей о продолжительности жизни в Африке:', africaState.shape[0]/lifeExp.shape[0])
print('Доля статей о продолжительности жизни мужчин в Африке среди всех статей по Африке:', africaState[africaState['SexDisplay'] == 'Male'].shape[0]/africaState.shape[0])
print('Доля статей о продолжительности жизни женщин в Африке среди всех статей по Африке:', africaState[africaState['SexDisplay'] == 'Female'].shape[0]/africaState.shape[0])

Доля статей о продолжительности жизни в Африке: 0.23782771535580524
Доля статей о продолжительности жизни мужчин в Африке среди всех статей по Африке: 0.3333333333333333
Доля статей о продолжительности жизни женщин в Африке среди всех статей по Африке: 0.3333333333333333

In [ ]:
lifeExp.groupby('RegionDisplay')['Numeric'].count()/lifeExp.shape[0]

RegionDisplay
Africa                   0.237828
Americas                 0.180243
Eastern Mediterranean    0.113296
Europe                   0.272940
South_East Asia          0.056648
Western Pacific          0.139045
Name: Numeric, dtype: float64

In [ ]:
lifeExp.groupby(['RegionDisplay', 'SexDisplay'])['Numeric'].count()/lifeExp.groupby('RegionDisplay')['Numeric'].count()

RegionDisplay          SexDisplay
Africa                 Both sexes    0.333333
                       Female        0.333333
                       Male          0.333333
Americas               Both sexes    0.333333
                       Female        0.333333
                       Male          0.333333
Eastern Mediterranean  Both sexes    0.333333
                       Female        0.333333
                       Male          0.333333
Europe                 Both sexes    0.333333
                       Female        0.333333
                       Male          0.333333
South_East Asia        Both sexes    0.333333
                       Female        0.333333
                       Male          0.333333
Western Pacific        Both sexes    0.333333
                       Female        0.333333
                       Male          0.333333
Name: Numeric, dtype: float64

Видно, что везде распределение между статьями про возраст мужчин/женщин/обоих полов одинаковое - 0.33/0.33/0.33
Можно предположить, что в статьях если пишут про материк, то во всех разрезах - мужчины/женщины/оба пола

### 5

Сколько всего существует видов статей с точки зрения оцениваемого параметра продолжительности жизни? Какой из этих видов статей самый популярный (написано наибольшее количество научных работ)? В рамках найденного вами самого популярного вида статей проведите сравнение, относительно какой из половых групп: мужчины, женщины или же оба пола — статей в нем было больше всего?

In [ ]:
lifeExp.groupby(['GhoDisplay'])['Numeric'].count()

GhoDisplay
Healthy life expectancy (HALE) at birth (years)    1752
Life expectancy at age 60 (years)                  2328
Life expectancy at birth (years)                   2328
Name: Numeric, dtype: int64

### 6

Выведите минимальную, среднюю, медианную и максимальную оцененную продолжительность жизни людей от рождения (life expectancy at birth). Выберите любые три страны на ваш вкус и проделайте то же самое только для статей по этим странам. Что можно сказать на основе результатов, которые вы получили?

In [ ]:
allStat = lifeExp[lifeExp['GhoDisplay'] == 'Life expectancy at birth (years)']['Numeric'].agg(['min', 'mean', 'median', 'max'])
allStat

min       38.000000
mean      68.441379
median    70.857895
max       87.154570
Name: Numeric, dtype: float64

In [ ]:
countryList = ['Chile', 'Nigeria', 'Sweden']
myStat = lifeExp[(lifeExp['CountryDisplay'].isin(countryList)) & (lifeExp['GhoDisplay'] == 'Life expectancy at birth (years)')]\
    .groupby(['CountryDisplay'])['Numeric'].agg(['min', 'mean', 'median', 'max'])
myStat

                 min       mean     median       max
CountryDisplay
Chile           69.0  77.422354  77.060205  83.00000
Nigeria         45.0  50.473338  50.500000  55.40039
Sweden          75.0  80.446728  80.500000  84.00000

### 7

Сформируйте результирующий датафрейм на основе проделанных вами действий в предыдущем номере. У датафрейма должно быть 4 столбца, в соответствии с заданными агреггирующими функциями: минимум, среднее, медиана, максимум, — а также 4 строки: статистика по всему датасету; статистика по трем выбранным вами странам. Сохраните программно созданный вами датафрейм в виде csv файла.

*Примечание. Датафрейм необходимо создавать автоматизированным образом. Не допускается ручной перенос значений из полученных в предыдущем задании ячеек в пустой датафрейм и/или прописывание конкретных значений (чисел) в коде программы. Представьте, что у нас не 3 страны, а 100 и не 4 агреггирующих метрики, а 100!*

In [ ]:
worldStat = pd.DataFrame()
worldStat['World'] = allStat
worldStat

            World
min     38.000000
mean    68.441379
median  70.857895
max     87.154570

In [ ]:
pd.concat([worldStat.T, myStat])

          min       mean     median       max
World    38.0  68.441379  70.857895  87.15457
Chile    69.0  77.422354  77.060205  83.00000
Nigeria  45.0  50.473338  50.500000  55.40039
Sweden   75.0  80.446728  80.500000  84.00000

### 8

Есть ли в наших датасетах пропуски? Если да, то в каких столбцах? Сколько пропусков в каждом из них?

Подумайте, как стоит избавиться от пропусков в каждом из столбцов, и сделайте это. Аргументируйте ваши действия.

Проверьте, что пропусков нигде не осталось.

*Примечание. Не забудьте сохранить все изменения! В последующих заданиях вы должны работать с уже обновленными датасетами.*

In [ ]:
a = lifeExp.isna().sum()
a

index                               0
GhoCode                             0
GhoDisplay                          0
PublishStateCode                    0
PublishStateDisplay                 0
YearCode                            0
YearDisplay                         0
RegionCode                          0
RegionDisplay                       0
WorldBankIncomeGroupGroupCode    1164
WorldBankIncomeGroupDisplay      1164
CountryCode                         0
CountryDisplay                      0
SexCode                             0
SexDisplay                          0
DisplayValue                        0
Numeric                             0
dtype: int64

In [ ]:
a[a > 0] / lifeExp.shape[0]

WorldBankIncomeGroupGroupCode    0.181648
WorldBankIncomeGroupDisplay      0.181648
dtype: float64

In [ ]:
lifeExp['WorldBankIncomeGroupDisplay'].unique()

array(['Lower_middle_income', 'High_income', 'Low_income',
       'Upper_middle_income', nan], dtype=object)

In [ ]:
lifeExp[(lifeExp['WorldBankIncomeGroupDisplay'].isna()) & (lifeExp['WorldBankIncomeGroupGroupCode'].isna())].count().max()

1164

Значит все пропуски в 2 столбцах согласуются (если есть в одном столбце, то и в другой есть)

In [ ]:
df = pd.concat((lifeExp['WorldBankIncomeGroupDisplay'].isna().rename('WBIGD'), lifeExp), axis=1)
cd = df.groupby(['CountryDisplay'])['WBIGD'].sum()
cd

CountryDisplay
Afghanistan                           6
Albania                               6
Algeria                               6
Andorra                               6
Angola                                6
                                     ..
Venezuela (Bolivarian Republic of)    6
Viet Nam                              6
Yemen                                 6
Zambia                                6
Zimbabwe                              6
Name: WBIGD, Length: 194, dtype: int64

In [ ]:
cd[cd != 6]

Series([], Name: WBIGD, dtype: int64)

In [ ]:
d = df.groupby(['YearCode'])['WBIGD'].sum()
d

YearCode
1990       0
2000       0
2012       0
2013    1164
Name: WBIGD, dtype: int64

In [ ]:
df[df.YearCode == 2013].groupby(['GhoDisplay'])['WBIGD'].sum()

GhoDisplay
Healthy life expectancy (HALE) at birth (years)      0
Life expectancy at age 60 (years)                  582
Life expectancy at birth (years)                   582
Name: WBIGD, dtype: int64

In [ ]:
df[(df.YearCode == 2013) & (df.GhoDisplay != 'Healthy life expectancy (HALE) at birth (years)')]

,WBIGD,index,GhoCode,GhoDisplay,PublishStateCode,PublishStateDisplay,YearCode,YearDisplay,RegionCode,RegionDisplay,WorldBankIncomeGroupGroupCode,WorldBankIncomeGroupDisplay,CountryCode,CountryDisplay,SexCode,SexDisplay,DisplayValue,Numeric
6,True,6,WHOSIS_000001,Life expectancy at birth (years),PUBLISHED,Published,2013,2013,AFR,Africa,NaN,NaN,ZWE,Zimbabwe,BTSX,Both sexes,59,58.72677
7,True,7,WHOSIS_000015,Life expectancy at age 60 (years),PUBLISHED,Published,2013,2013,EUR,Europe,NaN,NaN,DEU,Germany,BTSX,Both sexes,24,23.76277
8,True,8,WHOSIS_000001,Life expectancy at birth (years),PUBLISHED,Published,2013,2013,EUR,Europe,NaN,NaN,ESP,Spain,MLE,Male,80,79.56665
17,True,17,WHOSIS_000001,Life expectancy at birth (years),PUBLISHED,Published,2013,2013,AMR,Americas,NaN,NaN,BRA,Brazil,MLE,Male,72,71.61015
19,True,19,WHOSIS_000015,Life expectancy at age 60 (years),PUBLISHED,Published,2013,2013,WPR,Western Pacific,NaN,NaN,NIU,Niue,FMLE,Female,21,20.83867
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6388,True,6388,WHOSIS_000001,Life expectancy at birth (years),PUBLISHED,Published,2013,2013,EUR,Europe,NaN,NaN,BEL,Belgium,BTSX,Both sexes,80,80.48828
6389,True,6389,WHOSIS_000001,Life expectancy at birth (years),PUBLISHED,Published,2013,2013,EUR,Europe,NaN,NaN,SRB,Serbia,FMLE,Female,77,77.36535
6391,True,6391,WHOSIS_000015,Life expectancy at age 60 (years),PUBLISHED,Published,2013,2013,WPR,Western Pacific,NaN,NaN,COK,Cook Islands,MLE,Male,20,19.71973
6402,True,6402,WHOSIS_000015,Life expectancy at age 60 (years),PUBLISHED,Published,2013,2013,SEAR,South_East Asia,NaN,NaN,TLS,Timor_Leste,MLE,Male,16,16.03829
6407,True,6407,WHOSIS_000001,Life expectancy at birth (years),PUBLISHED,Published,2013,2013,EUR,Europe,NaN,NaN,ARM,Armenia,BTSX,Both sexes,71,71.02699

In [ ]:
lifeExp.groupby()

In [142]:
df1 = lifeExp[lifeExp.GhoDisplay != 'Healthy life expectancy (HALE) at birth (years)']
df1.YearCode.value_counts()

YearCode
1990    1164
2000    1164
2012    1164
2013    1164
Name: count, dtype: int64

In [144]:
df2 = pd.merge(df1[df1.YearCode == 2013].drop(['WorldBankIncomeGroupGroupCode', 'WorldBankIncomeGroupDisplay'], axis=1), \
         df1[df1.YearCode == 2012][['CountryCode', 'GhoCode', 'SexCode', 'WorldBankIncomeGroupDisplay', 'WorldBankIncomeGroupGroupCode']], \
         how='inner', on=['CountryCode', 'GhoCode', 'SexCode'])
df2

,index,GhoCode,GhoDisplay,PublishStateCode,PublishStateDisplay,YearCode,YearDisplay,RegionCode,RegionDisplay,CountryCode,CountryDisplay,SexCode,SexDisplay,DisplayValue,Numeric,WorldBankIncomeGroupDisplay,WorldBankIncomeGroupGroupCode
0,6,WHOSIS_000001,Life expectancy at birth (years),PUBLISHED,Published,2013,2013,AFR,Africa,ZWE,Zimbabwe,BTSX,Both sexes,59,58.72677,Low_income,WB_LI
1,7,WHOSIS_000015,Life expectancy at age 60 (years),PUBLISHED,Published,2013,2013,EUR,Europe,DEU,Germany,BTSX,Both sexes,24,23.76277,High_income,WB_HI
2,8,WHOSIS_000001,Life expectancy at birth (years),PUBLISHED,Published,2013,2013,EUR,Europe,ESP,Spain,MLE,Male,80,79.56665,High_income,WB_HI
3,17,WHOSIS_000001,Life expectancy at birth (years),PUBLISHED,Published,2013,2013,AMR,Americas,BRA,Brazil,MLE,Male,72,71.61015,Upper_middle_income,WB_UMI
4,19,WHOSIS_000015,Life expectancy at age 60 (years),PUBLISHED,Published,2013,2013,WPR,Western Pacific,NIU,Niue,FMLE,Female,21,20.83867,Low_income,WB_LI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1159,6388,WHOSIS_000001,Life expectancy at birth (years),PUBLISHED,Published,2013,2013,EUR,Europe,BEL,Belgium,BTSX,Both sexes,80,80.48828,High_income,WB_HI
1160,6389,WHOSIS_000001,Life expectancy at birth (years),PUBLISHED,Published,2013,2013,EUR,Europe,SRB,Serbia,FMLE,Female,77,77.36535,Upper_middle_income,WB_UMI
1161,6391,WHOSIS_000015,Life expectancy at age 60 (years),PUBLISHED,Published,2013,2013,WPR,Western Pacific,COK,Cook Islands,MLE,Male,20,19.71973,High_income,WB_HI
1162,6402,WHOSIS_000015,Life expectancy at age 60 (years),PUBLISHED,Published,2013,2013,SEAR,South_East Asia,TLS,Timor_Leste,MLE,Male,16,16.03829,Lower_middle_income,WB_LMI
1163,6407,WHOSIS_000001,Life expectancy at birth (years),PUBLISHED,Published,2013,2013,EUR,Europe,ARM,Armenia,BTSX,Both sexes,71,71.02699,Lower_middle_income,WB_LMI

По итогу, выявив все закономерности можно сделать следующее: доставить данные из 2012 года о тех же странах в тех же исследованиях о тех же типах людей и поставить их в 2013 год.
Это будет обосновано тк финансовое положение людей страны не может поменяться за 1 год.

In [157]:
# данные без nan значений
lifeExp_new = lifeExp[(lifeExp.GhoDisplay == 'Healthy life expectancy (HALE) at birth (years)')\
        | (lifeExp.YearCode != 2013)]
lifeExp_new.isna().sum()

index                            0
GhoCode                          0
GhoDisplay                       0
PublishStateCode                 0
PublishStateDisplay              0
YearCode                         0
YearDisplay                      0
RegionCode                       0
RegionDisplay                    0
WorldBankIncomeGroupGroupCode    0
WorldBankIncomeGroupDisplay      0
CountryCode                      0
CountryDisplay                   0
SexCode                          0
SexDisplay                       0
DisplayValue                     0
Numeric                          0
dtype: int64

In [158]:
lifeExp_new = pd.concat([lifeExp_new, df2])
lifeExp_new.shape

(6408, 17)

In [159]:
lifeExp_new.isna().sum()

index                            0
GhoCode                          0
GhoDisplay                       0
PublishStateCode                 0
PublishStateDisplay              0
YearCode                         0
YearDisplay                      0
RegionCode                       0
RegionDisplay                    0
WorldBankIncomeGroupGroupCode    0
WorldBankIncomeGroupDisplay      0
CountryCode                      0
CountryDisplay                   0
SexCode                          0
SexDisplay                       0
DisplayValue                     0
Numeric                          0
dtype: int64

### 9

Все ли признаки несут в себе полезную информацию? Почему вы так считаете? Избавьтесь от ненужных столбцов. Свой выбор аргументируйте

*Примечание. Не забудьте сохранить все изменения! В последующих заданиях вы должны работать с уже обновленными датасетами.*

Нет необходимости в дублирующих столбцах - код и полное названия, так как все названия корректны и могут выступить в роли категариального признака не хуже кода (в то время как они же будут информативнее и легче понимаемы)
PublishStateCode = PUBLISHED везде, поэтому тоже удаляем

In [162]:
lifeExp_new.head(1)

,index,GhoCode,GhoDisplay,PublishStateCode,PublishStateDisplay,YearCode,YearDisplay,RegionCode,RegionDisplay,WorldBankIncomeGroupGroupCode,WorldBankIncomeGroupDisplay,CountryCode,CountryDisplay,SexCode,SexDisplay,DisplayValue,Numeric
0,0,WHOSIS_000001,Life expectancy at birth (years),PUBLISHED,Published,1990,1990,AMR,Americas,WB_LMI,Lower_middle_income,NIC,Nicaragua,MLE,Male,68,68.0

In [164]:
lifeExp_new.drop(['GhoCode', 'PublishStateCode', 'PublishStateDisplay', 'YearDisplay', 'RegionCode', \
                  'WorldBankIncomeGroupGroupCode', 'CountryCode', 'SexCode', 'DisplayValue'], axis=1, inplace=True)

In [166]:
lifeExp_new.head(3)

,index,GhoDisplay,YearCode,RegionDisplay,WorldBankIncomeGroupDisplay,CountryDisplay,SexDisplay,Numeric
0,0,Life expectancy at birth (years),1990,Americas,Lower_middle_income,Nicaragua,Male,68.0
1,1,Healthy life expectancy (HALE) at birth (years),2012,Europe,High_income,Ireland,Male,69.3
2,2,Life expectancy at birth (years),2000,Eastern Mediterranean,Low_income,Yemen,Both sexes,61.0

### 10

Посчитайте, насколько сильно коррелируют друг с другом потребления разных видов алкоголя (beer_servings,	spirit_servings и	wine_servings). Создайте датафрейм с попарными корреляциями этих столбцов друг с другом. Какие выводы можно сделать?

In [169]:
drinks[['beer_servings',	'spirit_servings', 'wine_servings']].corr()

                 beer_servings  spirit_servings  wine_servings
beer_servings         1.000000         0.458819       0.527172
spirit_servings       0.458819         1.000000       0.194797
wine_servings         0.527172         0.194797       1.000000

wine_servings и spirit_servings мало коррелируют
spirit_servings	и beer_servings достаточно коррелируют 
beer_servings и wine_servings достаточно коррелируют 
Можно сделать вывод, что люди пьющие вино реже пьют напитки с высоким содержанием спирта. В то же время люди предпочитающие пиво также на ровне употребляют и напитки с высоким содержанием спирта и вино.

### 11

Каким образом следует осуществить соединение двух имеющихся у нас таблиц? Почему? Соедините таблицы!

Получилось ли у вас задействовать все строки, и если нет, то почему? Что делать с теми строками, которые не удается задействовать, если таковые есть? Ответ обоснуйте.

*Подсказка. В ответе на первый вопрос задания, а также в обосновании способа соединения таблиц вам может помочь задание 3 данного раздела ДЗ и соответствующий семинарский ноутбук!*

*Примечание. Не забудьте сохранить все изменения! В последующих заданиях вы должны работать с одним объединенным датасетом.*

In [172]:
drinks.head(1)

,index,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,0,Afghanistan,0,0,0,0.0

In [173]:
lifeExp_new.head(1)

,index,GhoDisplay,YearCode,RegionDisplay,WorldBankIncomeGroupDisplay,CountryDisplay,SexDisplay,Numeric
0,0,Life expectancy at birth (years),1990,Americas,Lower_middle_income,Nicaragua,Male,68.0

In [176]:
# соединяем по названию страны - единственный столбец дающий одну и ту же информацию о данных в обоих датасетах
data = pd.merge(drinks.drop('index', axis=1), lifeExp_new, how='outer', left_on='country', right_on='CountryDisplay')
data

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,index,GhoDisplay,YearCode,RegionDisplay,WorldBankIncomeGroupDisplay,CountryDisplay,SexDisplay,Numeric
0,Afghanistan,0.0,0.0,0.0,0.0,480.0,Life expectancy at age 60 (years),2000.0,Eastern Mediterranean,Low_income,Afghanistan,Female,16.00000
1,Afghanistan,0.0,0.0,0.0,0.0,690.0,Healthy life expectancy (HALE) at birth (years),2013.0,Eastern Mediterranean,Low_income,Afghanistan,Female,49.50000
2,Afghanistan,0.0,0.0,0.0,0.0,771.0,Life expectancy at age 60 (years),2012.0,Eastern Mediterranean,Low_income,Afghanistan,Female,17.00000
3,Afghanistan,0.0,0.0,0.0,0.0,1146.0,Life expectancy at age 60 (years),2012.0,Eastern Mediterranean,Low_income,Afghanistan,Male,15.00000
4,Afghanistan,0.0,0.0,0.0,0.0,1497.0,Healthy life expectancy (HALE) at birth (years),2012.0,Eastern Mediterranean,Low_income,Afghanistan,Female,48.90000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6429,NaN,NaN,NaN,NaN,NaN,918.0,Life expectancy at birth (years),2013.0,Africa,Low_income,Guinea_Bissau,Both sexes,53.89736
6430,NaN,NaN,NaN,NaN,NaN,1357.0,Life expectancy at birth (years),2013.0,Africa,Low_income,Guinea_Bissau,Female,55.33135
6431,NaN,NaN,NaN,NaN,NaN,1885.0,Life expectancy at birth (years),2013.0,Africa,Low_income,Guinea_Bissau,Male,52.50932
6432,NaN,NaN,NaN,NaN,NaN,2300.0,Life expectancy at age 60 (years),2013.0,Africa,Low_income,Guinea_Bissau,Female,15.31299
6433,NaN,NaN,NaN,NaN,NaN,3482.0,Life expectancy at age 60 (years),2013.0,Africa,Low_income,Guinea_Bissau,Both sexes,14.85519

In [178]:
data[data.country.isna()]['CountryDisplay'].unique()

array(['Bolivia (Plurinational State of)', 'Sao Tome and Principe',
       'Republic of Korea', 'Saint Vincent and the Grenadines',
       'Antigua and Barbuda', 'Saint Kitts and Nevis',
       'United Republic of Tanzania',
       'The former Yugoslav republic of Macedonia', 'South Sudan',
       'Micronesia (Federated States of)', 'Brunei Darussalam',
       'Saint Lucia', 'United States of America',
       "Democratic People's Republic of Korea", 'Viet Nam',
       'Democratic Republic of the Congo', 'Republic of Moldova',
       'Iran (Islamic Republic of)', 'Bosnia and Herzegovina',
       'United Kingdom of Great Britain and Northern Ireland',
       'Syrian Arab Republic', 'Timor_Leste',
       'Venezuela (Bolivarian Republic of)',
       "Lao People's Democratic Republic", 'Trinidad and Tobago',
       "Côte d'Ivoire", 'Guinea_Bissau'], dtype=object)

In [179]:
data[data.CountryDisplay.isna()]['country'].unique()

array(['Antigua & Barbuda', 'Bolivia', 'Bosnia-Herzegovina', 'Brunei',
       "Cote d'Ivoire", 'North Korea', 'DR Congo', 'Guinea-Bissau',
       'Iran', 'Laos', 'Micronesia', 'South Korea', 'Moldova',
       'St. Kitts & Nevis', 'St. Lucia', 'St. Vincent & the Grenadines',
       'Sao Tome & Principe', 'Syria', 'Macedonia', 'Timor-Leste',
       'Trinidad & Tobago', 'United Kingdom', 'Tanzania', 'USA',
       'Venezuela', 'Vietnam'], dtype=object)

В данных датасетах есть различие в наименовании некоторых стран, поэтому возникают несходство. Чтобы решить эту проблему можно сделать словарь перевода из одного источника в другой

In [182]:
# но я не буду использовать эти страны в исследовании
data = pd.merge(drinks.drop('index', axis=1), lifeExp_new.drop('index', axis=1), how='inner', left_on='country', right_on='CountryDisplay')
data.head(5)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,GhoDisplay,YearCode,RegionDisplay,WorldBankIncomeGroupDisplay,CountryDisplay,SexDisplay,Numeric
0,Afghanistan,0,0,0,0.0,Life expectancy at age 60 (years),2000,Eastern Mediterranean,Low_income,Afghanistan,Female,16.0
1,Afghanistan,0,0,0,0.0,Healthy life expectancy (HALE) at birth (years),2013,Eastern Mediterranean,Low_income,Afghanistan,Female,49.5
2,Afghanistan,0,0,0,0.0,Life expectancy at age 60 (years),2012,Eastern Mediterranean,Low_income,Afghanistan,Female,17.0
3,Afghanistan,0,0,0,0.0,Life expectancy at age 60 (years),2012,Eastern Mediterranean,Low_income,Afghanistan,Male,15.0
4,Afghanistan,0,0,0,0.0,Healthy life expectancy (HALE) at birth (years),2012,Eastern Mediterranean,Low_income,Afghanistan,Female,48.9

In [192]:
data.shape

(5511, 12)

### 12

Осуществите группировку данных по странам и типу научной статьи (многомерная группировка). В качестве столбцов значений для группировки возьмите оцененную продолжительность жизни и общее потребление алкоголя в литрах. В качестве агреггирующих функций для продолжительности жизни возьмите среднее, медиану, минимум и максимум, а для потребления алкоголя — агреггирующую функцию/функции выберите самостоятельно. Как вы можете прокомментировать свой выбор и что вы наблюдаете?

In [184]:
df3 = data.groupby(['country', 'GhoDisplay']).agg({'Numeric' : ['mean', 'median', 'min', 'max'], 'total_litres_of_pure_alcohol' : ['min', 'max']})
df3

                                                               Numeric  \
                                                                  mean
country     GhoDisplay
Afghanistan Healthy life expectancy (HALE) at birth (years)  47.833333
            Life expectancy at age 60 (years)                15.223012
            Life expectancy at birth (years)                 56.311805
Albania     Healthy life expectancy (HALE) at birth (years)  63.800000
            Life expectancy at age 60 (years)                17.728610
...                                                                ...
Zambia      Life expectancy at age 60 (years)                16.068835
            Life expectancy at birth (years)                 49.953199
Zimbabwe    Healthy life expectancy (HALE) at birth (years)  45.222222
            Life expectancy at age 60 (years)                17.369381
            Life expectancy at birth (years)                 55.186778

                                                                              \
                                                                median   min
country     GhoDisplay
Afghanistan Healthy life expectancy (HALE) at birth (years)  48.800000  44.6
            Life expectancy at age 60 (years)                15.061535  13.0
            Life expectancy at birth (years)                 57.000000  49.0
Albania     Healthy life expectancy (HALE) at birth (years)  63.900000  59.9
            Life expectancy at age 60 (years)                18.000000  15.0
...                                                                ...   ...
Zambia      Life expectancy at age 60 (years)                16.000000  14.0
            Life expectancy at birth (years)                 51.000000  40.0
Zimbabwe    Healthy life expectancy (HALE) at birth (years)  47.700000  36.4
            Life expectancy at age 60 (years)                17.654040  15.0
            Life expectancy at birth (years)                 58.363385  42.0

                                                                       \
                                                                  max
country     GhoDisplay
Afghanistan Healthy life expectancy (HALE) at birth (years)  50.50000
            Life expectancy at age 60 (years)                17.00000
            Life expectancy at birth (years)                 61.97733
Albania     Healthy life expectancy (HALE) at birth (years)  66.00000
            Life expectancy at age 60 (years)                20.00000
...                                                               ...
Zambia      Life expectancy at age 60 (years)                18.10310
            Life expectancy at birth (years)                 60.01617
Zimbabwe    Healthy life expectancy (HALE) at birth (years)  51.80000
            Life expectancy at age 60 (years)                19.00000
            Life expectancy at birth (years)                 64.00000

                                                            total_litres_of_pure_alcohol  \
                                                                                     min
country     GhoDisplay
Afghanistan Healthy life expectancy (HALE) at birth (years)                          0.0
            Life expectancy at age 60 (years)                                        0.0
            Life expectancy at birth (years)                                         0.0
Albania     Healthy life expectancy (HALE) at birth (years)                          4.9
            Life expectancy at age 60 (years)                                        4.9
...                                                                                  ...
Zambia      Life expectancy at age 60 (years)                                        2.5
            Life expectancy at birth (years)                                         2.5
Zimbabwe    Healthy life expectancy (HALE) at birth (years)                          4.7
            Life expectancy at age 60 (years)                                        4.7
            Life expectancy at birth (years)                                         4.7


                                                             max
country     GhoDisplay
Afghanistan Healthy life expectancy (HALE) at birth (years)  0.0
            Life expectancy at age 60 (years)                0.0
            Life expectancy at birth (years)                 0.0
Albania     Healthy life expectancy (HALE) at birth (years)  4.9
            Life expectancy at age 60 (years)                4.9
...                                                          ...
Zambia      Life expectancy at age 60 (years)                2.5
            Life expectancy at birth (years)                 2.5
Zimbabwe    Healthy life expectancy (HALE) at birth (years)  4.7
            Life expectancy at age 60 (years)                4.7
            Life expectancy at birth (years)                 4.7

[501 rows x 6 columns]

так как groupby по стране, а в датасете drinks соотвествие станы - значения 1 к 1, поэтому любая аггрегирующая функция будет бесполезна для столбца total_litres_of_pure_alcohol

### 13

Вставьте любые два столбца из предыдущего задания, которые вы получили путем группировки, в исходную таблицу в качестве двух новых столбцов (назвать вы их можете как хотите). Разумеется, значения этих столбцов должны соответствовать значениям исходной таблицы по указанным в прошлом задании категориям.

*Примечание. Не забудьте сохранить все изменения! В последующих заданиях вы должны работать с обновленным датасетом.*

In [189]:
df3['Numeric'][['mean', 'min']]

                                                                  mean   min
country     GhoDisplay
Afghanistan Healthy life expectancy (HALE) at birth (years)  47.833333  44.6
            Life expectancy at age 60 (years)                15.223012  13.0
            Life expectancy at birth (years)                 56.311805  49.0
Albania     Healthy life expectancy (HALE) at birth (years)  63.800000  59.9
            Life expectancy at age 60 (years)                17.728610  15.0
...                                                                ...   ...
Zambia      Life expectancy at age 60 (years)                16.068835  14.0
            Life expectancy at birth (years)                 49.953199  40.0
Zimbabwe    Healthy life expectancy (HALE) at birth (years)  45.222222  36.4
            Life expectancy at age 60 (years)                17.369381  15.0
            Life expectancy at birth (years)                 55.186778  42.0

[501 rows x 2 columns]

In [193]:
data = pd.merge(data, df3['Numeric'][['mean', 'min']], how='inner', on=['country', 'GhoDisplay'])
data.head(5)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,GhoDisplay,YearCode,RegionDisplay,WorldBankIncomeGroupDisplay,CountryDisplay,SexDisplay,Numeric,mean,min
0,Afghanistan,0,0,0,0.0,Life expectancy at age 60 (years),2000,Eastern Mediterranean,Low_income,Afghanistan,Female,16.0,15.223012,13.0
1,Afghanistan,0,0,0,0.0,Life expectancy at age 60 (years),2012,Eastern Mediterranean,Low_income,Afghanistan,Female,17.0,15.223012,13.0
2,Afghanistan,0,0,0,0.0,Life expectancy at age 60 (years),2012,Eastern Mediterranean,Low_income,Afghanistan,Male,15.0,15.223012,13.0
3,Afghanistan,0,0,0,0.0,Life expectancy at age 60 (years),1990,Eastern Mediterranean,Low_income,Afghanistan,Female,15.0,15.223012,13.0
4,Afghanistan,0,0,0,0.0,Life expectancy at age 60 (years),2012,Eastern Mediterranean,Low_income,Afghanistan,Both sexes,16.0,15.223012,13.0

### 14

Используя группировки, аргументированно ответьте на вопрос: на каких континентах средняя ожидаемая продолжительность жизни выше у мужчин, а на каких у женщин?

А медианная ожидаемая продолжительность?

А минимальная ожидаемая продолжительность?

Сделайте выводы!

*Подсказка. Казалось бы, при чем здесь тип научной статьи?*

In [198]:
data[data.SexDisplay != 'Both sexes'].groupby(['RegionDisplay', 'SexDisplay']).agg({'Numeric': ['mean', 'median', 'min']})

                                    Numeric
                                       mean    median       min
RegionDisplay         SexDisplay
Africa                Female      40.916403  47.00000  11.00000
                      Male        38.717012  45.79396  11.00000
Americas              Female      53.878184  66.10000  16.00000
                      Male        49.604839  61.60000  12.86658
Eastern Mediterranean Female      48.959387  59.00000  15.00000
                      Male        46.859430  57.00000  13.00000
Europe                Female      55.586664  69.00000  16.00000
                      Male        50.433233  63.00000  12.00000
South_East Asia       Female      48.265757  58.60000  12.00000
                      Male        45.706776  57.00000  14.00000
Western Pacific       Female      51.694729  63.00000  15.00000
                      Male        47.824176  58.75000  12.00000

In [199]:
data[data.SexDisplay == 'Male'].groupby(['RegionDisplay']).agg({'Numeric': ['mean', 'median', 'min']}) - data[data.SexDisplay == 'Female'].groupby(['RegionDisplay']).agg({'Numeric': ['mean', 'median', 'min']})

                        Numeric
                           mean   median      min
RegionDisplay
Africa                -2.199391 -1.20604  0.00000
Americas              -4.273345 -4.50000 -3.13342
Eastern Mediterranean -2.099957 -2.00000 -2.00000
Europe                -5.153430 -6.00000 -4.00000
South_East Asia       -2.558981 -1.60000  2.00000
Western Pacific       -3.870554 -4.25000 -3.00000

вот настолько мужчины меньше живут

### 15

Работая лишь с общим объединенным датасетом и не используя исходную таблицу drinks, подсчитайте среднее потребление каждого вида алкоголя и среднее общее количество литров потребляемого алкоголя на человека по всем континентам. Занесите ваши результаты в отдельный датафрейм!

*Подсказка. Задача немного сложнее, чем может показаться на первый взгляд — в объединенном датасете страны встречаются разное количество раз, и из-за этого могут возникнуть определенные проблемы. Если так случится, надо подумать, как это обойти!*

*Примечание. Разумеется, это необходимо сделать автоматизированно, а не перебирая каждый континент по отдельности.*

In [205]:
df4 = data.groupby('country').min().groupby('RegionDisplay')[['beer_servings', 'spirit_servings', 'wine_servings', 'total_litres_of_pure_alcohol']].mean()
df4

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
RegionDisplay,,,,
Africa,72.609756,17.487805,16.048780,3.314634
Americas,144.925926,143.148148,38.962963,5.851852
Eastern Mediterranean,11.263158,21.578947,4.526316,0.736842
Europe,179.020408,129.795918,127.346939,8.002041
South_East Asia,18.000000,53.777778,0.111111,1.288889
Western Pacific,82.136364,78.863636,27.136364,3.513636

### 16

Создание новых признаков (feature engineering) является одним из основных средств улучшения качества работы алгоритмов машинного обучения на этапе обработки данных, а также отличный способ увеличить глубину ваших выводов из проделанного анализа в целом! Частично мы с вами уже осуществляли feature engineering, когда добавляли новые столбцы в задании 13 данного раздела.

Теперь давайте добавим в таблицу столбец, который будет показывать, какое общее количество servings per person производится в среднем по стране, к которой относится научная статья. Столбец для этого признака назовите 'total_servings'.

Чем может быть полезен такой признак?

***Бонус (2 бон. балла):*** Придумайте еще какой-нибудь свой осмысленный признак, который может быть полезен для анализа (несет в себе какую-то информацию), и добавьте его в таблицу. Обязательно аргументируйте, чем полезен ваш признак.

In [206]:
data['total_servings'] = data['beer_servings'] + data['spirit_servings'] + data['wine_servings']
# следующий признак покажет сколько человек в среднем выпивает литров в спиртовом эквиваленте 
# исходя из предположения статьи о средней длительности жизни
data['total_litres_during_all_life'] = data['total_litres_of_pure_alcohol'] * data['Numeric']

In [208]:
data.head(3)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,GhoDisplay,YearCode,RegionDisplay,WorldBankIncomeGroupDisplay,CountryDisplay,SexDisplay,Numeric,mean,min,total_servings,total_litres_during_all_life
0,Afghanistan,0,0,0,0.0,Life expectancy at age 60 (years),2000,Eastern Mediterranean,Low_income,Afghanistan,Female,16.0,15.223012,13.0,0,0.0
1,Afghanistan,0,0,0,0.0,Life expectancy at age 60 (years),2012,Eastern Mediterranean,Low_income,Afghanistan,Female,17.0,15.223012,13.0,0,0.0
2,Afghanistan,0,0,0,0.0,Life expectancy at age 60 (years),2012,Eastern Mediterranean,Low_income,Afghanistan,Male,15.0,15.223012,13.0,0,0.0

### 17

Есть ли в данных категориальные признаки, которые принимают значения строк, а не чисел? Если да, то для многих алгоритмов это может стать серьезным препятствием, поэтому закодируйте категориальные признаки так, чтобы к данным можно было применить любые алгоритмы. Аргументируйте выбор методов кодирования.

*Подсказка. Вам могут помочь Label encoding и One-Hot Encoding. Но будьте внимательны! У каждого из этих методов есть свои сильные и слабые стороны, а также ограничения применимости.*

In [255]:
data_new = pd.get_dummies(data, columns=['SexDisplay', 'GhoDisplay'])
data_new['IncomeGroupCode'] = data_new['WorldBankIncomeGroupDisplay'].sort_values().astype('category').cat.codes

In [256]:
data_new[data_new.IncomeGroupCode == 1]

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,YearCode,RegionDisplay,WorldBankIncomeGroupDisplay,CountryDisplay,Numeric,...,min,total_servings,total_litres_during_all_life,SexDisplay_Both sexes,SexDisplay_Female,SexDisplay_Male,GhoDisplay_Healthy life expectancy (HALE) at birth (years),GhoDisplay_Life expectancy at age 60 (years),GhoDisplay_Life expectancy at birth (years),IncomeGroupCode
0,Afghanistan,0,0,0,0.0,2000,Eastern Mediterranean,Low_income,Afghanistan,16.00000,...,13.0,0,0.000000,False,True,False,False,True,False,1
1,Afghanistan,0,0,0,0.0,2012,Eastern Mediterranean,Low_income,Afghanistan,17.00000,...,13.0,0,0.000000,False,True,False,False,True,False,1
2,Afghanistan,0,0,0,0.0,2012,Eastern Mediterranean,Low_income,Afghanistan,15.00000,...,13.0,0,0.000000,False,False,True,False,True,False,1
3,Afghanistan,0,0,0,0.0,1990,Eastern Mediterranean,Low_income,Afghanistan,15.00000,...,13.0,0,0.000000,False,True,False,False,True,False,1
4,Afghanistan,0,0,0,0.0,2012,Eastern Mediterranean,Low_income,Afghanistan,16.00000,...,13.0,0,0.000000,True,False,False,False,True,False,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5506,Zimbabwe,64,18,4,4.7,2000,Africa,Low_income,Zimbabwe,16.00000,...,15.0,86,75.200000,True,False,False,False,True,False,1
5507,Zimbabwe,64,18,4,4.7,2000,Africa,Low_income,Zimbabwe,15.00000,...,15.0,86,70.500000,False,False,True,False,True,False,1
5508,Zimbabwe,64,18,4,4.7,2013,Africa,Low_income,Zimbabwe,18.92977,...,15.0,86,88.969919,False,True,False,False,True,False,1
5509,Zimbabwe,64,18,4,4.7,2013,Africa,Low_income,Zimbabwe,17.30808,...,15.0,86,81.347976,False,False,True,False,True,False,1
5510,Zimbabwe,64,18,4,4.7,2013,Africa,Low_income,Zimbabwe,18.19472,...,15.0,86,85.515184,True,False,False,False,True,False,1

### 18

Придумайте какое-нибудь своё интересное задание на анализ предлагаемых данных и решите его.

Креативность в этом задании приветствуется, и за нее можно получить ***1-2 бонусных балла***!

*Подсказка. Вы можете вдохновляться различными заданиями из этого ДЗ, как, например, заданиями: 4, 6, 10, 12, 14, 15, 16. Но, чтобы получить бонусные баллы, лучше не используйте аналогичные идеи, а придумайте что-то своё!*

In [ ]:
# your code here

## Бонусная часть на анализ целевой переменной (до 5 бонусных баллов)

После всего проделанного анализа и подготовки данных мы можем перейти непосредственно к ответу на исходный вопрос исследования, который был сформулирован вами в задании 3 данного раздела.

### 19

***Бонус (5 бон. баллов):*** Дайте развернутый, обоснованный, подкрепленный данными и написанным вами кодом ответ на вопрос, влияют ли признаки зависимой таблицы на целевую переменную из главной таблицы и, если да, то каким именно образом влияют?

Обязательно аргументируйте полученные вами результаты и выводы. Чем подробнее и обоснованнее анализ вы проведете в рамках данного бонусного задания, тем больше бонусных баллов получите! Вы можете использовать подходы и методы из рассмотренных на семинаре и в рамках данного домашнего задания, а можете придумать и что-то своё. Креативность максимально приветствуется!

In [ ]:
# your code here

    {your final conclusion here}